#background { 
	background-color:#DAEEFF;
} 
.font_Kreon{
	font-family: 'Kreon', serif;
	font-size: 1.4em;
	color: #756d6d;
}


/*CSS header */
/*titre webzine*/
.title{
	font-family: 'Amatic SC', cursive;
	font-size: 5rem ;
}
.sous_titre{
	font-family: 'Amatic SC', cursive;
	font-size: 3rem ;
}
#title_wzine {
	display: flex;
    justify-content: center;
    font-size: 6em;
}
#user{
	font-size:1.5em;
}
/*connexion et inscription*/
.top {
    display: flex;
    justify-content: space-around;
}

/*social media*/
#sm {
	display: flex;
	justify-content: flex-end;
}	
.sm {
	margin: 5px;
}
#logoinsta {
	width: 90%;
}

#logofb{
	width: 80%;
}
#category {
	display: flex;
	justify-content: space-around;
	font-size: 1.5em;		
}
.category {
	margin: 10px;
}

#lol {
	color: #6EDD97;
}
#vie{
	color: #FF00AA;
}
#corps{
	color: #4E98FF;
}
#amour {
	color: #FBCA2C;
}
#actualite{
	color: #C300E7;
}
#toi{
	color: #FF4347;
}

/*CSS marge_g*/
.description_marge {
	font-size:2em;
	margin: 1.5em !important;
}
#wrap_marge_g{
	background-color: #F6F700;
	text-align: center;
}

.user_m {
	display: flex;
	justify-content: center;
}
#sm_marge_g {
	display: flex;
	justify-content: center;
	margin: 30px;
}
#title_m {
	font-size: 1.5rem ;
 	margin:20px;
 	margin-bottom: 50px;
}
.s_title{
	margin-bottom: 50px;
	font-size: 1.3rem ;
}

 /*Main articles*/
 .lien_main_article{
 	text-align: center;
 }
 .lien_main_article:hover {
 	text-decoration: none;
 }

/*articles medium*/
.medium {
	display: flex
	justify-content: space-evenly;
}

.row {
    display: flex;
    justify-content: space-evenly;
}


/*articles*/
.article {
	text-align: center;
}
/* lol*/
.art_lol {
	color: #6EDD97;
}

/*c'est la vie*/
.art_vie{
	color: #FF00AA;
}

/*ton corps*/
.art_corps{
	color: #4E98FF;
}

/*ton corps*/
.art_amour {
	color: #FBCA2C;
}

/*actualité*/
.art_actualite{
	color: #C300E7;
}

/*et toi?*/
.art_toi{
	color: #FF4347;
}


